:root{
    --purple:#8607ed; 
    --green: rgb(79, 148, 79);
    --black:#444;
    --light-color:#777;
    --bg-color:#dde1e7;
    --border:.1rem solid rgb(0,0,0,.2);
    --box-shadow:.4rem .4rem 1rem #ccc,
                -.4rem -.4rem 1rem #fff;
    --box-shadow-inset: .4rem .4rem 1rem #ccc inset,
                        -.4rem -.4rem 1rem #fff inset;   
    --facebook: #4267B2;
    --insta:#C13584;
    --linkedin:#0e76a8;
    --youtube:#FF0000;              
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    transition: .2s linear;
}

html{
    scroll-behavior:smooth;
}

body{
    scroll-behavior: smooth;
    background: var(--bg-color);
    padding-left: 25rem;
}

body.active{
    --black:#fff;
    --light-color:rgb(175, 175, 175);
    --bg-color:#222;
    --border:.1rem solid rgb(0,0,0,.4);
    --box-shadow:.4rem .4rem 1rem #111,
                -.4rem -.4rem 1rem #333;
    --box-shadow-inset: .4rem .4rem 1rem #111 inset,
                        -.4rem -.4rem 1rem #333 inset;            
}

section{
    min-height: 100vh;
    padding: 0 2rem;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3.5rem;
    border-radius: .5rem;
    font-size:1.7rem;
    cursor: pointer;
    background: none;
    color: var(--black);
    box-shadow: var(--box-shadow);
}

.btn:hover{
    color: var(--purple);
    box-shadow: var(--box-shadow-inset);

}

.heading{
    text-align: center;
    font-size: 2.75rem;
    color: var(--black);
    text-transform: uppercase;
    padding-bottom: 1.5rem;
    margin-top: 1rem;
}

.heading span{
    color: var(--purple);
    text-transform: uppercase;
}




/* BARRE DE NAVIGATION / MENU */
.header{
    position: fixed;
    top: 0; left: 0;
    z-index: 999;
    background: var(--bg-color);
    width: 20rem;
    border-right: var(--border);
    height: 100%;
    padding: 2rem;
    text-align: center;
}

.header .user img{
    border: 1rem solid transparent;
    border-radius: 50%;
    height: 13.5rem;
    width: 13.5rem;
    box-shadow: var(--box-shadow);
}

.header .user h3{
    color: var(--black);
    font-size: 1.75rem;
}

.header .user p{
    color: var(--purple);
    font-size: 1.5rem;
}

.header .navbar{
    padding-top: 1rem;
}

.header .navbar a{
    display: block;
    margin: 1.5rem 0;
    padding: .7rem;
    border-radius: 5rem;
    font-size: 1.25rem;
    box-shadow: var(--box-shadow);
    color: var(--black);
}

.header .navbar a:hover{
    box-shadow: var(--box-shadow-inset);
    /* font-weight:600; */
    color: var(--purple);
}

/* menu hamburger */
#menu-btn{
    position: fixed;
    z-index: 1000;
    top: 1rem;
    left: 1rem;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    border-radius: 50%;
    font-size: 2rem;
    cursor: pointer;
    box-shadow: var(--box-shadow);
    text-align: center;
    color: var(--black);
    display: none;
}

#menu-btn:hover{
    box-shadow: var(--box-shadow-inset);
    color: var(--purple);
    transition: 0s;
}


/* BOUTON THÈME */
#theme-toggler{
    position: fixed;
    z-index: 1000;
    top: 1rem;
    right: 1rem;
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    border-radius: 50%;
    font-size: 2rem;
    cursor: pointer;
    box-shadow: var(--box-shadow);
    text-align: center;
    color: var(--black);
}

#theme-toggler:hover{
    box-shadow: var(--box-shadow-inset);
    color: var(--purple);
}





/* PAGE D'ACCUEIL */
.home{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.home .content h3{
    font-size: 4rem;
    color: var(--black);
    line-height: 1.1;
    text-transform: uppercase;
}

.home .content p{
    font-size: 2rem;
    color: var(--purple);
    padding-bottom: 0.5rem;
}

.home .share{
    position: relative;
    top: 10rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    padding: 1rem;
}

.home .share a{
   height: 5rem;
   width: 5rem;
   line-height: 5rem;
   box-shadow: var(--box-shadow);
   margin: .5rem;
   font-size: 2rem;
   color: var(--black);
   border-radius: .5rem;
}

.home .share .fa-facebook-f:hover{
   box-shadow: var(--box-shadow-inset);
   color: var(--facebook);
}
.home .share .fa-instagram:hover{
   box-shadow: var(--box-shadow-inset);
   color: var(--insta);
}

.home .share .fa-envelope:hover{
    box-shadow: var(--box-shadow-inset);
    color: var(--facebook);
 }

.home .share .fa-linkedin:hover{
   box-shadow: var(--box-shadow-inset);
   color: var(--linkedin);
}
.home .share .fa-youtube:hover{
   box-shadow: var(--box-shadow-inset);
   color: var(--youtube);
}

.contactMe{
    margin-top: 1rem;
    display: inline-block;
    padding: .5rem 2rem;
    border-radius: .5rem;
    font-size:1rem;
    cursor: pointer;
    background: none;
    color: var(--black);
    box-shadow: var(--box-shadow);
}

.contactMe:hover{
    color: var(--purple);
    box-shadow: var(--box-shadow-inset);
}





/* PAGE À PROPOS */
.about .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 1rem;
}

.about .row .box-container{
    flex: 1 1 40rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.about .row .box-container .box{
    flex: 1 1 10rem;
    text-align:center;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
}

.about .row .box-container .box h3{
    font-size: 1.75rem;
    color: var(--black);
    line-height: 1.1;
}

.about .row .box-container .box p{
    font-size: 1rem;
    color: var(--light-color);
    padding: 2rem 0;
}

.about .row .content{
    flex: 1 1 40rem;
}

.about .row .content h3{
    margin-top: 1rem;
    font-size: 1.25rem;
    color: var(--black);
    line-height: 1.8;
}

.about .row .content h3 span{
    color: var(--purple);
}

.about .row .content p{
    font-size: 1rem;
    color: var(--black);
    line-height: 1.8;
}

.about .row:nth-child(3){
    padding-top: 2rem;
}

.about .row .box-skills{
    width: 100%;
    display: flex;
    border-radius: 1rem;
    box-shadow: var(--box-shadow);
}

.about .row .progress{
    flex: 1 1 25rem;
}

.about .row .progress h3 {
    color: var(--black);
    font-weight: normal;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem;
    font-weight: 500;
}

.about .row .progress .bar{
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    height: 0.7rem;
    padding: .5rem;
    margin:  2rem ;
}

.about .row .progress .bar span{
    display: block;
    min-height: 100%;
    background: var(--green);
    border-radius: 5rem;
}

.about .row .progress .bar-1-1 span{
    width: 90%;
    animation: load1 3s normal forwards;
}
.about .row .progress .bar-1-2 span{
    width: 70%;
      animation: load2 3s normal forwards;
}
.about .row .progress .bar-1-3 span{
    width: 80%;
      animation: load3 3s normal forwards;
}
.about .row .progress .bar-2-1 span{
    width: 51%;
      animation: load4 3s normal forwards;
}
.about .row .progress .bar-2-2 span{
    width: 60%;
      animation: load5 3s normal forwards;
}
.about .row .progress .bar-2-3 span{
    width: 55%;
      animation: load6 3s normal forwards;
}

@keyframes load1 {
    0% { width: 0; }
    90% { width: 90%; }
  }
@keyframes load2 {
    0% { width: 0; }
    70% { width: 70%; }
  }
@keyframes load3 {
    0% { width: 0; }
    80% { width: 80%; }
  }
@keyframes load4 {
    0% { width: 0; }
    51% { width: 51%; }
  }
@keyframes load5 {
    0% { width: 0; }
    60% { width: 60%; }
  }
@keyframes load6 {
    0% { width: 0; }
    55% { width: 55%; }
  }





/* PAGE COMPÉTENCES */
.competences .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 2rem;
}

.competences .box-container .box{
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.competences .box-container .box i{
    font-size: 3rem;
    padding-bottom: 2rem;
    color: #fff;
}

.competences .box-container .box h3{
    font-size: 1rem;
    padding-bottom: 1rem;
    color: var(--black);
}

.competences .box-container .box p{
    font-size: .9rem;
    line-height: 1.8;
    color:var(--black);
}

.competences .box-container .box::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom right, rgb(134, 18, 201), goldenrod);
    z-index: -1;
    clip-path: circle(9rem at 0% 5%);
    transition: .3s linear ;
}
 
.competences .box-container .box:hover::before{
    clip-path: circle(100%);
}

.competences .box-container .box:hover > *{
    color: rgb(0, 0, 0) ;
}

.portfolio .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 2rem;
}





/* PAGE MES PROJETS */
.portfolio .box-container .box{
    height: 25rem;
     border-radius: .5rem;
     /* overflow: hidden; */
     box-shadow: var(--box-shadow);
     position: relative;
     border: 1rem solid transparent;
}

.portfolio .box-container .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;

}

.portfolio .box-container .box .content{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--bg-color);
    display: grid;
    place-items: center;
    transform: scale(0);
}

.portfolio .box-container .box:hover .content{
    transform: scale(1);
}

.portfolio .box-container .box .content h3{
    font-size: 2rem;
    color: var(--black);
    text-transform: uppercase;
    transform: translateY(-5rem);
    opacity: 0;
    transition-delay: .3s;
}

.portfolio .box-container .box:hover .content h3{ 
    transform: translateY(0rem);
    opacity: 1;
}





/* PAGE CONTACT */

.cntc{
    height: 100vh;
}
.contact .row {
     display: flex;
     padding-top: 5rem;
     margin: auto 0;
     padding-left: 5em;
}

.contact .row .contentCarte {
    box-shadow: var(--box-shadow);
    border-radius: 1rem;
    
}

.btn-submit:hover{
    color: var(--purple);
    box-shadow: var(--box-shadow-inset);
}
 
.contact .row .content{
    padding: 5rem 5rem;
    box-shadow: var(--box-shadow);
    border-radius: 1rem;
}

.contact .row .content .icons h3{
    padding: 1rem 0;
    font-size: 1rem;
    color: var(--purple);
}

.contact .row .content .icons h3 i{
    padding-right: .5rem;

}    

.contact .row .content .icons p{
    font-size: 1rem;
    color: var(--light-color);
}

.contact .row .content .icons p a{
    color: var(--light-color);
}

.contact .row .content .icons p a:hov{
    color: var(--light-color);
}





.credits {
    font-size: .7rem;
    text-align: center;
    margin-top: 8rem;
    border-top: var(--border);
    color: var(--black);
    padding: 0.5rem;
}

.credits span{
    color: var(--purple);
}






/* Media queries TABLETTE */
@media(max-width:1024px){

    html{
        font-size: 55%;
        overflow-y: scroll;
        scroll-behavior: smooth;
    }

    body{
        padding-left: 0;
    }

    .header .user img{
        margin-top: 1.25em;
        height: 18rem;
        width: 18rem;
    }

    .header .user h3{
        font-size: 2rem;
    }
    
    .header .user p{
        font-size: 1.75rem;
    }

    .header .navbar a{
        display: block;
        margin: 1.5rem 0;
        padding: .7rem;
        border-radius: 5rem;
        font-size: 2rem;
    }

    .header{
        left: -110%;
    }

    .header.active{
        left: 0%;
        transition: .4s linear;
    }

    #menu-btn{
        display: initial;
    }





    /* PAGE A PORPOS */

    .about .row .content h3 {
        margin-top: 0rem;
        font-size: 2rem;
        color: var(--black);
        line-height: 3;
    }

    .about .row .content p {
        font-size: 1.8rem;
        line-height: 2;
    }

    .contactMe {
        font-size: 1.25rem;
    }

    .about .row .progress h3 {
        font-size: 2rem;
    }

    .about .row .progress .bar {
        height: 1rem;
        padding: 0.5rem;
        margin: 2rem;
    }
    .about .row {
        margin-bottom: 2rem;
    }


















    .contact form {
        box-shadow: var(--box-shadow);
    
   }
   
   .contact form .box{
        box-shadow: var(--box-shadow);

   }

   .contact .row {
    display: flow-root;
    justify-content: space-between;
    padding-top: 2rem;
   }

   .contact .row .content .icons h3 {
    padding: 1rem 0;
    font-size: 1.5rem;
    color: var(--purple);
    }

    .contact .row .content .icons p{
        font-size: 1.25rem;
    }

}


/* Media queries MOBILE */
@media(max-width:450px){

    html{
        font-size: 50%;
        overflow-y: scroll;
        scroll-behavior: smooth;
    }

    .header{
        width: 91%;
        border-right: 0;
    }


    
    
    
    /* PAGE A HOME */
    .home .content h3 {
        font-size: 3.5rem;
    }





    /* PAGE A PORPOS */
    
    .about .row .content h3 {
        margin-top: 0rem;
        font-size: 2rem;
        color: var(--black);
        line-height: 3;
    }
    
    .about .row .content p {
        font-size: 1.6rem;
        line-height: 2;
    }
    
    .contactMe {
        font-size: 1.25rem;
    }
    
    .about .row .progress h3 {
        font-size: 1.5rem;
    }
    
    .about .row .progress .bar {
        height: 0.7rem;
        padding: 0.5rem;
        margin: 1rem;
    }
    .about .row {
        margin-bottom: 2rem;
    }
    
    
    
    
    
    
    
    
    /* PAGE COMPETENCES */

    .competences .box-container .box h3 {
        font-size: 1.5rem;
    }

    .competences .box-container .box p {
        font-size: 1.25rem;
    }








   







   .contact .row {
    display: flow-root;
    justify-content: space-between;
    padding-top: 2rem;
}


}    